body{
background-image: url('https://wallpapercave.com/wp/ogH2h50.jpg');
        background-size: cover;
        background-repeat: no-repeat;
}
.titel{
    font-size: 300%;
    color: white;
    text-align: center;
    direction: center;	animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;


}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
   margin: auto;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.center{
 display: flex;
 justify-content: center;
 align-items: center;
}
.button{
     width: 200px;
       height: 80px;
       font-size: 24px;
}


